# Database credentials and configuration
**/config.properties
*.db

# Java build files
target/
*.class

# IDE files
.idea/
*.iml
.vscode/
.idea/workspace.xml
.idea/workspace.xml
logs/jatsapp-activity.log
logs/jatsapp-server-errors.log
logs/jatsapp-server.log
.idea/workspace.xml
logs/jatsapp-activity.log
logs/jatsapp-server-errors.log
logs/jatsapp-server.log
